:host {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tasks-list {
    background-color: var(--terceary-bg-color);
    list-style-type: none;
    padding: 22px 25px;
    margin: 0;
    min-height: 166px;
}

.task {
    display: flex;
    padding: 5px;
}

.task-title {
    color: var(--secundary-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 11px;
}

.trash-icon {
    justify-content: end;
    margin-left: auto;
}

.trash-icon:hover {
    cursor: pointer;
}

.checked-task {
    text-decoration-line: line-through;
}

.delete-all-btn {
    border-radius: 50px;
    background: var(--danger-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--primary-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 11px 51px;
    border: none;
    width: 70%;
    margin: 11px auto 0;
}

.delete-all-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 358px) {
    .tasks-list {
        width: 80%
    }
}